<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecadgab.css">
    <title>Turmas | CorrAut</title>
</head>
<body>
    <main class="main-container">
        <div class="image-gabarito">
            <img src="imagens/gabarito.jpg" alt="foto gabarito">
            <abbr title="Voltar">
                <a href="login.html">
                    <button type="button" class="btn-back">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </a>
            </abbr>
        </div>
        <form>
            <div class="form-class">
                <h1>Cadastro de Gabarito</h1>

                <label>Curso</label>
                <select>
                    <option>Turismo</option>
                    <option>Enfermagem</option>
                    <option>Informática</option>
                    <option>Agroindústria</option>
                    <option>Vestuário</option>
                </select>

                <label>Ano</label>
                <select>
                    <option>1°</option>
                    <option>2°</option>
                    <option>3°</option>
                </select>
                
                <button type="button" class="btn-cad">Cadastrar</button>
            </div>
        </form>
    </main>
    <script src="https://kit.fontawesome.com/97ae76578e.js" crossorigin="anonymous"></script>
</body>
</html>