<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecadgab.css">
    <title>Cadastro de Gabarito | CorrAut</title>
</head>
<body>
    <main class="main-container">
        <div class="image-gabarito">
            <img src="imagens/gabarito.jpg" alt="foto gabarito">
            <abbr title="Voltar">
                <a href="login.html">
                    <button type="button" class="btn-back">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </a>
            </abbr>
        </div>
        <form>
            <div class="form-container">
                <h1>Cadastro de Gabarito</h1>
                <div class="input-area">
                    <label>Número de questões</label>
                    <input type="number">
                    <label>Gabarito</label>
                    <div class="alternatives-area">
                        <div class="row-questions">
                            <label>1°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>2°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>3°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>4°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>5°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>6°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>7°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>8°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>9°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                        <div class="row-questions">
                            <label>10°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn-cad">Cadastrar</i></button>
            </div>
        </form>
    </main>
    <script src="https://kit.fontawesome.com/97ae76578e.js" crossorigin="anonymous"></script>
</body>
</html>