<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <link href="{% static "cad-gab/stylecadbag.css" %}" rel="stylesheet">
    <script src="{% static "cad-gab/script.js" %}"></script>
    <title>Cadastro de Gabarito | CorrAut</title>
</head>
<body>
    
    <form action="/turmas"><button class={{curso}} id="indicador-turma"><i class="fa-solid fa-arrow-right"> </i>&nbsp;<p><i class={{ícone}}></i>{{curso}} {{série}}º Ano<p></button></form>
    <main class="main-container">
        <div class="image-gabarito">
            <img src="{% static "cad-gab/gabarito.jpg" %}" alt="foto gabarito">
            <abbr title="Voltar">
                <a href="/login/">
                    <button type="button" class="btn-back">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </a>
            </abbr>
        </div>
        <form>
            <div class="form-container">
                <h1>Cadastro de Gabarito</h1>
                <div class="input-area">
                    <label>Número de questões</label>
                    <input type="number" value={{quant}} id="quant">
                    <label>Gabarito</label>
                    <div class="alternatives-area">
                        {% for questão in questões %}
                        <div class="row-questions">
                            <label>{{questão}}°)</label>
                            <label>A.</label>
                            <input type="radio" class="input-alternatives">
                            <label>B.</label>
                            <input type="radio" class="input-alternatives">
                            <label>C.</label>
                            <input type="radio" class="input-alternatives">
                            <label>D.</label>
                            <input type="radio" class="input-alternatives">
                            <label>E.</label>
                            <input type="radio" class="input-alternatives">
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class="btn-cad">Cadastrar</i></button>
            </div>
        </form>
    </main>
    <div class="load-div-container" id="load-div-container">
        <div class="load-div" id="load-div">
            <span class="loader"></span>
        </div>
    </div>
    
    <script src="https://kit.fontawesome.com/97ae76578e.js" crossorigin="anonymous"></script>
</body>
</html>