<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static "login/stylelogin.css" %}" rel="stylesheet">
    <script src="{% static "login/login.js" %}"></script>
    <title>Entrar | CorrAut</title>
</head>
<body>
    <div id="hide">
        <header>
            <img src="{% static "login/Imagens/logo-corraut.png" %}" alt="logo do corraut">
        </header>
    
        <form class="form-container" enctype="multipart/form-data" action="/checar/" method="POST"> 
            {% csrf_token %} 
            <h1>Login</h1>
            <div class="label-input">
                <label>Usuário</label>
                <input type="text" name="usuário" id="usuário" onkeyup="ativacaoBotao()">
            </div>
            <div class="label-input">
                <label>Senha</label>
                <input type="password" name="senha" id="senha" onkeyup="ativacaoBotao()">
            </div>
    
            <div class="exibirSenha">
                <label for="mostrador" id="Most">
                    <input type="checkbox" id="mostrador" class="styled-checkbox" onclick="Função()"> Mostrar senha
                </label>
            </div>
            
            <button value="entrar" type="submit" onclick="Entrar()" id="entrar" disabled>Entrar</button>
            <p style="color:rgb(247, 31, 31); font-size: 10pt; text-align: center; font-weight: 600px;">{{msgErro}}</p>
        </form>
        <footer class="autores">
            CorrAut 2023 beta | Desenvolvido por Marcos Sousa & Guilherme Rocha
        </footer>
    </div>

    <div class="load-div-container" id="load-div-container">
        <div class="load-div" id="load-div">
            <span class="loader"></span>
        </div>
    </div>
    
    
</body>
</html>