<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static "turmas/styleturmas.css" %}" rel="stylesheet">
    <title>Turmas | CorrAut</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="/login">
        <button class="voltar">Voltar</button>
    </a>

    <div class="conteúdo">
        <h1>Bem vindo(a) {{usuario}}</h1>
        <h2>Essas são as suas turmas</h2>

        <div class="turmas">
            <div class="série">
                <h1>1º Ano</h1>
                {% for turma in 1º %}
                <button {{turma.add}}><h2>{{turma.curso}}</h2></button>
                {% endfor %}
            </div>
    
            <div class="série" >
                <h1>2º Ano</h1>
                {% for turma in 2º %}
                <button {{turma.add}}><h2>{{turma.curso}}</h2></button>
                {% endfor %}
            </div>
        
            <div class="série">
                <h1>3º Ano</h1>
                {% for turma in 3º %}
                <button {{turma.add}}><h2>{{turma.curso}}</h2></button>
                {% endfor %}
            </div>
        </div>
    </div>
    
    

</body>
</html>