* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.main-container {
    width: 1200px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    box-shadow: 0 0 10px rgb(92, 92, 92);
    border-radius: 12px;
}

.image-gabarito {
    width: 900px;
}

img {
    width: 100%;
    height: 500px;
    border-radius: 12px 0 0 12px;
}

.btn-back {
    background: linear-gradient(to right top, rgb(237, 172, 20), rgb(255, 102, 0));
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding: 6px 15px;
    position: fixed;
    right: 95%;
    top: 3%;
    cursor: pointer;
}

button {
    box-shadow: 0 0 6px rgb(216, 216, 216);
}

.btn-back:enabled:hover::before {
    opacity: 1;
}

.btn-back::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.25s linear;
    opacity: 0;
    border-radius: 6px;
}

.btn-back:enabled:hover {
    color: white;
    transition: 0.25s;
    transform: scale(102%);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.2em 0;
    position: absolute;
    margin-left: 35px;
}

.input-area {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: 1.3em;
    font-weight: 600;
    gap: 5px;
}

input {
    background-color: whitesmoke;
    width: 230px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    outline: none;
}

input:focus {
    border: 1px solid rgb(255, 102, 0);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.btn-cad {
    width: 230px;
    height: 30px;
    background: linear-gradient(to right top, rgb(237, 172, 20), rgb(255, 102, 0));
    margin-top: 28px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
}

.btn-cad:enabled:hover::before {
    opacity: 1;
}

.btn-cad::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.25s linear;
    opacity: 0;
    border-radius: 6px;
}

.btn-cad:enabled:hover {
    color: white;
    transition: 0.25s;
    transform: scale(102%);
}

.alternatives-area {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 230px;
    height: 180px;
    font-size: 18px;
    border-radius: 6px;
    padding: 6px 14px;
    overflow-y: scroll;
    gap: 10px;
    box-shadow: 0 0 6px rgb(216, 216, 216);
}

.row-questions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;
}

.input-alternatives {
    width: 20px;
    height: 18px;
    margin-top: 4px;
    cursor: pointer;
} 


#indicador-turma:enabled:hover::before {
    opacity: 1;
}

#indicador-turma:enabled::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.25s linear;
    opacity: 0;
    border-radius: 6px;
}

#indicador-turma:disabled {
    color: gray;
    background: linear-gradient(to right top, rgb(240, 240, 240),rgb(248, 248, 248));
    cursor: not-allowed;
}

#indicador-turma:enabled:hover {
    color: white;
    transition: 0.25s;
    transform: scale(102.5%);
    opacity: 1;
}

#indicador-turma {
    display: flex;
    margin-left: 10px;
    width: 250px;
    height: 50px;
    position: absolute;
    border: none;
    box-shadow: 0 0 6px rgb(216, 216, 216);
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(to right top, rgb(248, 248, 248),rgb(255, 255, 255));
    color: rgb(43, 43, 43);
    font-weight: 700;
    font-weight: 700;
    border-radius: 6px;
    font-size: 20px;
    align-items:center;
    justify-content:center;
    z-index: 1;
    opacity: 1;
    cursor: pointer;
}

#indicador-turma[class="Turismo"]::before {
    background: linear-gradient(to right top, rgb(35, 163, 18), rgb(112, 255, 69));
}

#indicador-turma[class="Enfermagem"]::before {
    background: linear-gradient(to right top, rgb(204, 23, 23), rgb(255, 17, 17));
}

#indicador-turma[class="Informática"]::before {
    background: linear-gradient(to right top, rgb(133, 0, 133), rgb(178, 46, 255));
}

#indicador-turma[class="Agroindústria"]::before {
    background: linear-gradient(to right top, rgb(20, 78, 237), rgb(0, 204, 255));
}

#indicador-turma[class="Vestuário"]::before {
    background: linear-gradient(to right top, rgb(237, 20, 110), rgb(255, 0, 179));
}

.load-div-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    animation: fadein 0.5s;
    background-color: white;
    z-index: 2;
}
